[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

certifi="*"
chardet="*"
click="*"
Flask="*"
gunicorn="*"
idna="*"
itsdangerous="*"
Jinja2="*"
MarkupSafe="*"
requests="*"
urllib3="*"
weather-api="*"
Werkzeug="*"
googlesearch = { git = 'https://github.com/anthonyhseb/googlesearch.git', ref = '*', editable = true }

[requires]

python_version = "2.7"